@font-face {
    font-family: cooking;
    src: url(Manrope-Light.ttf);
}
body { 
    margin: 0;
    position: relative;
    background-color: hsl(0, 0%, 12%);
}
.landingPage {
    background-color: hsl(0, 0%, 12%);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.maintext {
    text-align: center;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(190px);
}
.header {
    display: inline-block;
    color: hsl(0, 0%, 93%);
    font-family: cooking;
    font-size: 40px;
    padding: 3px;
    margin: 2px;
}   
.headerDescription {
    color: hsla(0, 2%, 60%, 0.918);
    font-family: cooking;
    font-size: 18px;
    padding: 3px;
    margin: 2px;
}
.icons {
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(200px);
    padding: 5px;
}
.icons a {
    text-decoration: none;
}
.icons i {
    margin-right: 10px;
    transition: all 0.3s ease;
}
.githubIcon:hover i {
    transform: scale(1.1, 1.1);
}
.discordIcon:hover i {
    transform: scale(1.1, 1.1);
}
.youtubeIcon:hover i {
    transform: scale(1.1, 1.1);
}
.explorediv {
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(300px);
    padding: 5px;
}
.explore {
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    animation: pulse 5s infinite;
    z-index: 100;
}
.explore:hover {
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    transform: scale(1.25, 1.25);
    animation: none;
}
.fa-solid.fa-rocket.fa-2xl {   
    transform: scale(2, 2) translate(-2px, 2px);
}
.fa-solid.fa-fire.fa-xl {
    display: none;
    position: absolute;
    rotate: 225deg;
    transform: translate(1px, -35px);
}
.explore:hover > .fa-solid.fa-fire.fa-xl {
    display: inline;
}
@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}
.mainPage {
    background-color: rgb(255, 255, 255);
    height: 1px;
    width: 1px;
    top: 477px;
    left: 50vw;
    display: none;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    border-color: white;
}
@keyframes animationMain {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(2000, 2000);
    }
}